extends layout

block head
  title Admin - Reset Password

block content
  .page-header
    h1 #[span.label.label-danger Admin] Reset Password

    .alert.alert-success(role="alert")
      | #[strong Succeeded!] Backup the following information right now! There is no second chance!

    pre
      | StudentID: #{user.studentID}
      | Name     : #{user.name}
      | Password : #{plain}
      | Year     : #{user.year}
